---
import SiteLayout from '../layouts/siteLayout.astro'; 
import Head from '../astro_components/Head.astro';
---

<SiteLayout title={"Write blog | Astro Demo"}>
    <Head />
    <p>Create</p>
    <div class="post-create-form">
        <form>
            <div class="form-control">
                <label>Author</label>
                <input type="text" name="author">
            </div>
            <div class="form-control">
                <label>Title</label>
                <input type="text" name="title">
            </div>
            <div class="form-control">
                <label>Text</label>
                <input type="textarea" name="text">
            </div>
            <button>Create</button> 
        </form>
    </div>
</SiteLayout>