---
const { id } = Astro.params;
---
<nav>
    <li>
        <a href="/">Home</a>
        <a href="/create/">Create</a>
        <a href="/blogs/astro/blog1">Astro Blogs</a>
        <a href="/blogs/markdown/blog1">MD/MDX Blogs</a>
        <a href="/contact/">Contact</a>
    </li>
</nav>